.banner {
    background-blend-mode: overlay;
    background-color: $textColor;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    .banner_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $primaryColor;
        margin-top: 10rem;

        h1 {
            font-family: $headerFont;
            margin: 0 3rem;
            border-right: 1px solid $primaryColor;
            border-bottom: 1px solid $primaryColor;
            box-shadow: 3px 3px 1px $secondaryColor;
            padding-right: 1rem;
            padding-bottom: 0.5rem;

            @include desktop {
                font-size: clamp(2.5rem, 5vw, 3rem);
            }
        }
        p {
            margin-top: 1rem;
        }

        button {
            @include btnColor;
            transition: 0.2s ease-out;

            &:hover {
                background: $secondaryColor;
                transition: all 0.2s ease-out;
                color: $textColor;
                cursor: pointer;
            }
        }
    }
    
        
    
}


