.location_section {
    background: $textColor;
    display: flex;
    justify-content: center;
    color: $primaryColor;

    @include desktop {
        flex-direction: column;
        min-height: 50vh;
    }

    h2 {
        text-align: center;
        align-self: center;
        margin: 0 1rem;

        @include desktop {
            margin-top: 2rem;
        }
        @include tablet {
            margin: auto;
        }
    }

    .location_container {
        display: grid;
        grid-template-rows: 1fr;
        border-left: 1px solid $primaryColor;
        margin-right: 2rem;

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        .branch_container {
            margin-top: 2rem;
            padding-left: 2rem;
            padding-bottom: 2rem;
        
            @include desktop {
                text-align: center;
                margin-top: 5rem;
                
                &:nth-child(2) {
                    border-left: 1px solid $primaryColor;
                    border-right: 1px solid $primaryColor;
                }
            }
        }
    }
}