.sidebar_menu {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 3;
    width: 1.5rem;


    @include desktop {
        display: none;
    }

    #burger{
        display: block;
        position: relative;
        width: 1.5rem;
        height: 3px;
        background: $primaryColor;
        border-radius: 2px;
        transition: all 0.2s ease-out;

        &.open {
            background: transparent;
        }

        &:hover,
        &:hover::before, 
        &:hover::after {
            background: $subColor;
            transition: all 0.2s ease-out;
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 3px;
            background: $primaryColor;
            border-radius: 2px;
            top: 7px;
            display: block;
            transition: all 0.2s ease-out;

        }
        &::after {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 3px;
            background: $primaryColor;
            border-radius: 2px;
            bottom: 7px;
            display: block;
            transition: all 0.2s ease-out;

        }
    }
    .sidebar {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        padding: 0 8rem;
        height: 100vh;
        background: $secondaryColor;
        position: absolute;
        top: -3rem;
        right: -5rem;
        z-index: -1;
        animation: slide 0.1s forwards;

        a {
            color: $textColor;
            text-decoration: none;
            margin-top: 1rem;

            &:hover {
                color: $subColor;
                font-weight: 700;
                transition: all 0.3s ease-out;
            }
        }

        button {
            @include btnColor;
            transition: 0.2s ease-out;
            width: 7.5rem;

            &:hover {
                background: $textColor;
                transition: all 0.2s ease-out;
                color: $secondaryColor;
                cursor: pointer;
            }
        }
    }
    @keyframes slide {
        0% {
            left: 0;
        }
        25% {
            left: -1.25rem;
        }
        50% {
            left: -2.5rem;
        }
        75% {
            left: -5rem;
        }
        100% {
            left: -12rem;
        }
    }
    &.open {
        #burger {
            background: transparent;

            &::before {
                transform: rotate(45deg);
                top: 2px;
                background: $textColor;
            }
            &::after {
                transform: rotate(-45deg);
                top: 2px;
                background: $textColor;
            }
        }
    }
}